[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
social-auth-app-django = "*"
python-jose = "*"
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pytz = "*"
pandas = "*"
scikit-learn = "*"
dataframe = "*"

[dev-packages]

[requires]
python_version = "3.10"
